@import "base.css";

/* Layout */

main {
    white-space: nowrap;
}

#main-content {
    display: inline-block;
    width: 80%;
    white-space: normal;
    vertical-align: text-top;
}

nav {
    display: inline-block;
    width: 20%;
    white-space: normal;
    vertical-align: text-top;
}