@import "base.css";

/* Layout */

main {
    white-space: nowrap;
}

article {
    display: inline-block;
    width: calc(100% / 3);
    white-space: normal;
    vertical-align: text-top;
}


/* Other Style */


/* Fonts */